@import "tailwindcss";

@theme {
  /* Paleta Corporativa Nespresso */
  --color-nespresso-brown: #3B2818;
  --color-nespresso-gold: #C29B62;
  --color-nespresso-dark: #1A1A1A;
  --color-nespresso-cream: #F4F0EC;
  --color-nespresso-gray: #E5E5E5;
  
  /* Colores para Gamificación y Metas */
  --color-dopamine-success: #22c55e;
  --color-dopamine-warning: #f59e0b;
  --color-dopamine-danger: #ef4444;
}

/* Opcional: Un fondo general suave para que la app no sea blanco brillante */
body {
  background-color: var(--color-nespresso-cream);
}

/* Personalización elegante del Scrollbar para el Panel Admin */
.sleek-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.sleek-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.sleek-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* Gris muy oscuro para que se camufle */
  border-radius: 10px;
}
.sleek-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #bfa15f; /* Dorado Nespresso al usarla */
}